<!DOCTYPE html>
<!-- Remember MVC? This is the (V)iew. -->
<html>
<body>

<!-- references the current object -->
{{#name}}Hello, {{.}}!{{/name}}

<!-- if name does not ^ exist, run this code -->
{{^name}}
<form action="/login" method="post">
    <input type="text" placeholder="Enter your name" name="name"/>
    <button type="submit">Login</button>
</form>
{{/name}}
{{#name}}
<form action="/add-message" method="post">
    <input type="text" placeholder="Enter your message" name="messages"/>
    <button type="submit">Add Message</button>
</form>
Messages by {{name}}
<ul>
    {{#messages}}
    <li>{{messageText}}
        <form action="/delete-message" method="post">
            <input type="hidden" value="{{id}}"/>
            <button type="submit">Delete</button>
        </form>
    </li>
    {{/messages}}
</ul>
{{/name}}
</body>
</html>